.tweet {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-clip: border-box;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .125);
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
    margin: 35px 0;
    max-width: 700px;
    font-family: "Helevetica", arial, sans-serif;
}

.tweet-info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweet-info-top > div {
    display: flex;
    align-items: center;
}

.tweet-info-top > div > h6 {
    margin-left: 10px;
    margin-bottom: 0
}

.tweet-body {
    margin: 22px 0;
}

.tweet-info-bottom {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}

.tweet-info-bottom > div {
    display: flex;
    align-items: center;
}

.tweet-info-bottom > div > h6 {
    margin-left: 10px;
    margin-bottom: 0;
}


@media screen and (max-width: 768px) {
    .tweet {
        padding: 15px;
        margin: 15px 0;
    }

    .tweet-info-top {
        display: block;
    }

    .tweet-info-top button {
        padding: 0;
    }
    
    .see-replies {
        margin-right: 10px;
    }
}